<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2>Hay error(es) que impide(n) que este producto sea guardado:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "Descripción" %>
    <%= form.text_area :description, rows:10, cols:60 %>
  </div>

  <div class="field">
    <%= form.label "Ruta de la Imagen" %>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label "Precio" %>
    <%= form.text_field :price %>
  </div>

  <% if current_page?(new_product_path) %>
    <div class="actions">
      <%= form.submit "Crear Producto" %>
    </div>
  <% else %>
    <div class="actions">
    <%= form.submit "Editar Producto" %>
  </div>
  <% end %>
<% end %>
